<div class="div-body">
<h1 style="text-align: center;">Predicción de Diabetes</h1>
<h4 style="text-align: center;">Árbol de decisiones</h4>
  <br>
  <br>
  <div nz-row>
    <div nz-col nzSpan="24">
      <form
        nz-form
        [nzLayout]="'inline'"
        [formGroup]="validateForm"
        (ngSubmit)="predecir()"
      >
        <nz-form-item>
          <nz-form-control nzErrorTip="Ingrese Nro. de Embarazos!">
            <input
              type="number"
              formControlName="embarazos"
              nz-input
              placeholder="Embarazos"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Ingrese nivel de glucosa!">
            <input type="number" formControlName="glucosa" nz-input placeholder="Glucosa" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Ingrese Presión sanguinea!">
            <input
              type="number"
              formControlName="presion_sanguinea"
              nz-input
              placeholder="Pre. Sanguinea"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Ingrese Pliegue Cutaneo!">
            <input
              type="number"
              formControlName="pliegue_cutaneo"
              nz-input
              placeholder="Plieg. Cutaneo"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Ingrese nivel de Insulina!">
            <input type="number" formControlName="insulina" nz-input placeholder="Insulina" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Ingrese Indice de masa corporal!">
            <input
              type="number"
              formControlName="indice_de_masa_corporal"
              nz-input
              placeholder="Masa Corporal"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Ingrese Pedigri Diabetes!">
            <input
              type="number"
              formControlName="pedigri_diabetes"
              nz-input
              placeholder="P. Diabetes"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Ingrese su edad!">
            <input type="number" formControlName="edad" nz-input placeholder="Edad" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="ingrese mes!">
            <nz-select formControlName="f_de_diagnostico_month" nzShowSearch nzAllowClear nzPlaceHolder="Seleccione Mes">
              <nz-option nzLabel="Enero" nzValue="1"></nz-option>
              <nz-option nzLabel="Febrero" nzValue="2"></nz-option>
              <nz-option nzLabel="Marzo" nzValue="3"></nz-option>
              <nz-option nzLabel="Abril" nzValue="4"></nz-option>
              <nz-option nzLabel="Mayo" nzValue="5"></nz-option>
              <nz-option nzLabel="Junio" nzValue="6"></nz-option>
              <nz-option nzLabel="Julio" nzValue="7"></nz-option>
              <nz-option nzLabel="Agosto" nzValue="8"></nz-option>
              <nz-option nzLabel="Septiembre" nzValue="9"></nz-option>
              <nz-option nzLabel="Octubre" nzValue="10"></nz-option>
              <nz-option nzLabel="Noviembre" nzValue="11"></nz-option>
              <nz-option nzLabel="Diciembre" nzValue="12"></nz-option>
            </nz-select>
            <!-- <input  nz-input placeholder="Mes" /> -->
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Ingrese día!">
            <nz-input-number formControlName="f_diagnostico_day_of_month" [nzMin]="1" [nzMax]="31" [nzStep]="1" nzPlaceHolder="Día" class="tam-comp"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Ingres dia de la semana!">
            <nz-select formControlName="f_diagnostico_day_of_week" nzShowSearch nzAllowClear nzPlaceHolder="Dia de la semana">
              <nz-option nzLabel="Lunes" nzValue="1"></nz-option>
              <nz-option nzLabel="Martes" nzValue="2"></nz-option>
              <nz-option nzLabel="Miercoles" nzValue="3"></nz-option>
              <nz-option nzLabel="Juves" nzValue="4"></nz-option>
              <nz-option nzLabel="Viernes" nzValue="5"></nz-option>
              <nz-option nzLabel="Sabado" nzValue="6"></nz-option>
              <nz-option nzLabel="Domingo" nzValue="7"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid" [nzSize]="large" class="tam-comp">
              Enviar
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <br>
      <h3> Resultados :</h3>
      <p>Diabetes : {{respuestaPred?.output}}</p>
      <p>Probabilidad : {{respuestaPred?.probability}}</p>
    </div>
  </div>
</div>
